body {
    background-color: cornsilk;
}
.panel {
    //float: left;
    background-color: rgba(186, 245, 217, 0.22);
    border: 1px dashed red;
    border-radius: 10px 20px;
    //margin: 10px;
    padding: 10px;
    height: auto;

    h2 {
        font-family: cursive;
        display: inline;
        padding: 0px;
        margin: 0px;
    }

    .fa {
        font-size: 34px;
        margin-right: 5px;
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin-top: 20px;

        li {
            display: flex;
            margin-bottom: 10px;

            input[type=text] {
                width: 150px;
                margin-right: 10px;
                text-align: center;
            }
        }
    }
}